<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
</head>
<body>
  <h1>首页</h1>
  <!-- 测试请求路径 -->
  <a th:href="@{/target}">访问目标页面target.html</a><br>
  <a th:href="@{/hello/testRequestMapping}">测试RequestMapping注解的位置，访问目标页面success.html</a><br>
  <form th:action="@{/hello/test}" method="post">
    <input type="submit" value="测试RequestMapping注解的method属性 -> POST">
  </form><br>
  <a th:href="@{/hello/testGetMapping}">测试GetMapping注解 -> /testGetMapping</a><br>
  <form th:action="@{/hello/testPut}" method="put">
    <input type="submit" value="测试form表单是否能够发送put或delete请求方式">
  </form><br>
  <a th:href="@{/hello/a1a/testAnt}">测试@RequestMapping可以匹配ant风格的路径 -> 使用'?'</a><br>
  <a th:href="@{/hello/b73b/testAnt}">测试@RequestMapping可以匹配ant风格的路径 -> 使用'*'</a><br>
  <a th:href="@{/hello/c/abc/testAnt}">测试@RequestMapping可以匹配ant风格的路径 -> 使用'**'</a><br>
  <a th:href="@{/hello/abc/testAnt}">测试@RequestMapping可以匹配ant风格的路径 -> 使用'**'</a><br>
  <a th:href="@{/hello/testPath/1}">测试@RequestMapping可以支持路径中的占位符</a><br>
  <br><br>

  <!-- 测试请求参数 -->
  <a th:href="@{/hello/testServletAPI(username='admin',password=123456)}">测试使用servletAPI获取请求参数</a><br>
  <a th:href="@{/hello/testParam(username='admin',password=123456)}">测试使用控制器的形参获取请求参数</a><br>
  <form th:action="@{/hello/testParam}" method="post">
    用户名: <input type="text" name="user_name"><br>
    密码: <input type="password" name="password"><br>
    爱好: <input type="checkbox" name="hobby" value="a">a
    <input type="checkbox" name="hobby" value="b">b
    <input type="checkbox" name="hobby" value="c">c<br>
    <input type="submit" value="测试使用控制器的形参获取请求参数">
  </form><br>
  <form th:action="@{/hello/testBean}" method="post">
    用户名:<input type="text" name="username"><br>
    密码:<input type="password" name="password"><br>
    性别:<input type="radio" name="sex" value="男">男
         <input type="radio" name="sex" value="女">女<br>
    年龄:<input type="text" name="age"><br>
    邮箱:<input type="text" name="email"><br>
    <input type="submit" value="使用实体类接受请求参数">
  </form><br><br>

  <!-- 域对象共享数据 -->
  <a th:href="@{/testRequestByServletAPI}">通过ServletAPI向request域对象共享数据</a><br>
  <a th:href="@{/testModelAndView}">通过ModelAndView向request域对象共享数据</a><br>
  <a th:href="@{/testModel}">通过Model向request域对象共享数据</a><br>
  <a th:href="@{/testMap}">通过Map向request域对象共享数据</a><br>
  <a th:href="@{/testModelMap}">通过ModelMap向request域对象共享数据</a><br>
  <a th:href="@{/testSession}">通过ServletAPI向session域对象共享数据</a><br>
  <a th:href="@{/testApplication}">通过ServletAPI向application域对象共享数据</a><br><br>

  <!-- 视图处理 -->
  <a th:href="@{/testThymeleafView}">测试ThymeleafView</a><br>
  <a th:href="@{/testForward}">测试InternalResourceView</a><br>
  <a th:href="@{/testRedirect}">测试RedirectView</a><br><br>

  <!-- RESTFul -->
  <a th:href="@{/user}">查询所有用户信息</a><br>
  <a th:href="@{/user/1}">根据id查询用户信息</a><br>
  <form th:action="@{/user}" method="post">
    用户名: <input type="text" name="username"><br>
    密码: <input type="password" name="password"><br>
    <input type="submit" value="添加">
  </form><br>
  <form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="PUT">
    用户名: <input type="text" name="username"><br>
    密码: <input type="password" name="password"><br>
    <input type="submit" value="修改">
  </form><br><br>

  <!-- RESTFul 案例 -->
  <a th:href="@{/restful/employee}">查询所有员工信息</a><br><br>

  <!-- HttpMessageConverter 报文信息转换器 -->
  <form th:action="@{/http/testRequestBody}" method="post">
    用户名: <input type="text" name="username"><br>
    密码: <input type="password" name="password"><br>
    <input type="submit" value="测试@RequestBody">
  </form><br>
  <form th:action="@{/http/testRequestEntity}" method="post">
    用户名: <input type="text" name="username"><br>
    密码: <input type="password" name="password"><br>
    <input type="submit" value="测试RequestEntity<String>">
  </form><br>
  <a th:href="@{/http/testResponse}">通过ServletAPI的response对象响应浏览器数据</a><br>
  <a th:href="@{/http/testResponseBody}">通过@ResponseBody响应浏览器数据</a><br>
  <a th:href="@{/http/testResponseUser}">通过@ResponseBody响应浏览器User对象</a><br>


</body>
</html>